.learnMoreParent {
  cursor: none;

  background-color: white;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
}

.secondSection {
  height: 100vh;
  /* border:  red solid 7px; */
  width: 100%;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media only screen and (max-width: 391px) {
  /* Turning off cursor: */

  .learnMoreParent {
    font-size: 1.6rem;
  }
  .cursor {
    display: none;
  }
}


.someContent{
  border: 2px solid blue;
}