.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pdfcontainer {
    /* 21.59 × 27.94 cm */
    /* max-width: 21.59cm; */
    /* width: 100%; */
    max-height: 20.8cm;
    overflow: hidden;
    background-color: orange;
}

.bg {
    background-color: orange;
}
