.fs-menu {
  cursor: none;

  position: fixed;
  min-height: 105vh;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 122;
  color: var(--main-white-color);
}

.fs-menu ul li a {
  text-decoration: none;
  color: var(--main-white-color);
}

.closeBtn {
  position: inherit;
  top: 0%;
  right: 0%;
  width: 12rem;
  height: 12rem;

  padding: 1.3rem;
  border-radius: 50%;
  /* background-color: black; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.crossStyles {
  /* background-color: red; */
  width: 60%;
  height: 60%;
  color: var(--main-white-color);
}

.fs-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  list-style-type: none;
}
.fs-menu ul li {
  padding: 2.6rem 14.5rem;
}
.fs-menu ul li:hover {
  background: rgb(38, 38, 38);
  background: radial-gradient(
    circle,
    rgba(38, 38, 38, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.displayNone {
  display: none;
}
.fs-nav-links {
  padding: 2rem 5.8rem;
  cursor: none;
}

@media only screen and (max-width: 600px) {
  .fs-menu ul li {
    padding: 2.6rem 4rem;
  }
  .fs-nav-links {
    padding: 2rem 3rem;
  }
  .closeBtn {
    position: inherit;
    top: 0%;
    right: 0%;
    width: 7rem;
    height: 7rem;
  
    padding: 1.3rem;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255,0);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
