:root {
  --main-white-color: rgb(239, 239, 239);
  --content-font-family: HelveticaNowText-Light;
  --large-title: 2.3vw;
  --content-font-size: 1.8vw;
  --content-font-size-phone-view: 3.4vw;
}

.second-section {
  background-color: var(--main-white-color);

  color: black;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.dark-section {
  min-height: 150vh;
  background-color: black;
  position: relative;

  color: var(--main-white-color);
}

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
.greetingsTitle {
  font-family: "Oleo Script", cursive;
  font-weight: 100;
  /* margin: 2rem 2.2rem; */
}

.container {
  margin: auto;
  width: 75%;
  text-align: center;
}

.about-title {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: var(--large-title);
  letter-spacing: 1rem;
}

.section-banner {
  position: absolute;
  left: 2%;
  top: 0%;
  display: flex;
  justify-content: center;
}

.about-title {
  font-family: var(--content-font-family);
  font-size: var(--content-font-size);
  font-weight: 600;
}

.ribbon-dark {
  width: 0px;
  min-height: 25rem;
  background-color: transparent;

  border: solid 20px #000000;
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  cursor: none;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main-white-color);

  -webkit-filter: drop-shadow(10px 5px 11px #838383);
  filter        :  drop-shadow(10px 5px 11px #838383);

}


.ribbon-light {
  width: 0px;
  min-height: 25rem;
  background-color: transparent;

  border: solid 20px var(--main-white-color);
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  cursor: none;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;

  -webkit-filter: drop-shadow(10px 5px 11px #434343);
  filter        :  drop-shadow(10px 5px 15px #434343);
}
/* ----------
---CARDS--
---------- */
.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.card {
  width: 16em;
  height: 18rem;
  background: black;
  border: 0.4px solid rgb(165, 165, 165);

  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: none;

  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;

  padding: 3rem;

  z-index: 130;
}

.card:hover {
  background: rgb(12, 12, 12, 0.6);
  border: 2px solid rgb(122, 122, 122);
  box-shadow: -15px 13px 34px -15px rgba(255, 255, 255, 0.39);
  -webkit-box-shadow: -15px 13px 34px -15px rgba(255, 255, 255, 0.39);

  transform: scale(1.03) translateY(-8px);

  backdrop-filter: blur(65px);
}


/* InterestSection */
.interestSection {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-white-color);

  position: relative;
  color: black;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 391px) {
  .vertical-line {
    height: 25vh;
  }

  .ribbon-dark {
    width: 0px;
    min-height: 14rem;
    background-color: transparent;

    border: solid 15px #000000;
    border-bottom: solid 15px transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .ribbon-light {
    width: 0px;
    min-height: 14rem;
    background-color: transparent;

    border: solid 15px var(--main-white-color);
    border-bottom: solid 15px transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
