* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
/*    installing a font 
      https://stackoverflow.com/questions/41676054/how-to-add-fonts-to-create-react-app-based-projects
*/
:root {
  --main-white-color:rgb(239, 239, 239);
}
@font-face {
  font-family: "Elastic";
  src: local("Elastic"), url(./fonts/Elastic.ttf) format("truetype");
}

@font-face {
  font-family: "Helvitica";
  src: local("Helvitica"), url(./fonts/Helvitica.ttf) format("truetype");
}
@font-face {
  /*
    font downloaded from: https://fontshub.pro/font/helvetica-now-text-download
  */
  font-family: "HelveticaNowText-Light";
  src: local("HelveticaNowText-Light"),
    url(./fonts/HelveticaNowText-Light.ttf) format("truetype");
}

/*

    GLOBAL styles ends here

*/

/*      Styles    */
section {
  height: 100vh;
  width: 100vw;
  /* width: 100vw; */
  width: 100%;
  overflow: hidden;
}

/* ---------- navbar ------------ */
nav {
  width: 100vw;

  position: fixed;
  top: 0%;
  left: 0%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 1.6rem;
  padding-right: 1.6rem;

  color: white;
}

.name-logo {
  /* font-family: Elastic, Georgia, 'Times New Roman', Times, serif; */
}

.ishtiaque {
  /* background-color: orange; */
  letter-spacing: 0.1rem;
}

.name-logo,
.menu {
  /* background-color: blue; */
  padding: 2rem;
}

/* ---------- section ------------ */
.landingSection {
  width: 100%;
  height: 100%;

  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8rem;
  color: white;
  font-size: 32pt;
}
.landingTitle{
  font-size: 4rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.portraitImg {
  width: 50%;
  height: auto;
  object-fit: cover;
  height: auto;
}
.selfportrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.second-section {
  background-color: var(--main-white-color);
  /* background-color: green; */
  color: black;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.largeText {
  font-size: 2rem;
  font-family: HelveticaNowText-Light;
  font-weight: normal;
  padding: 5rem;
}

.dark-section {
  background-color: black;
}
